# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build
dist/
build/
.tmp/
.cache/
.vite/
.vitepress/
.next/
out/

# Env (OBAVEZNO, zbog Supabase ključeva)
.env
.env.*
!.env.example

# Logs
logs
*.log
*.log.*
log/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Server/Backend
*.sqlite
*.db
prisma/generated/
coverage/

# Misc
*.local
*.swp
